body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffe4ed;
    color: rgb(255, 25, 140);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
    border: 4px solid #fff;
    background: #ffe7ed;
    margin-top: 5%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.corazón{

    width: 35px;
    position: relative;
    top: -120px;
    left: 240px;

}

.info {
    margin-top: 15px;
    font-size: 1.1rem;
}

.goal-text {
    color: rgb(158, 33, 189);
    font-weight: bold;
}