body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffe4ed;
    color: rgb(255, 25, 140);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {

    background-color: rgb(255, 86, 122); /* Da un color de fondo gris claro a la sección de los menús */
    width: 100%; /* Da un tamaño del 100% a la parte de los menús para que ocupe todo el largo de la pantalla */
    list-style: none; /* Le quita las viñetas de lista a los menús */
    text-align: center; /* Alinea el texto de los menús al centro */

}

nav li { 

    display: inline-flex; /* alínea el texto de los menús uno junto al otro */

}

nav a { /* Modifica el estilo del texto de los menús */

    text-decoration: none; /* Quita la raya azul de debajo de los enlaces de los menús */
    color:black; /* Cambia el color del texto de los menús a azul */
    padding: 10px; /* Da una separación de 10px entre menú y menú */
    width: 150px; /* Da un tamaño de 150px al texto del menú */

}

nav li:hover { /* Hace que al pasar el cursor sobre una parte del menú, esta parte se resalte en un color diferente */

    background-color: rgb(255, 196, 204); /*cambia el color a amarillo pastel*/
}

canvas {
    border: 4px solid #fff;
    background: #ffe7ed;
    margin-top: 5%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.corazón{

    width: 35px;
    position: relative;
    top: -120px;
    left: 240px;

}

.info {
    margin-top: 15px;
    font-size: 1.1rem;
}

.goal-text {
    color: rgb(158, 33, 189);
    font-weight: bold;

}
